# packages to import
import(dplyr)
import(tidyr)
import(readr)
import(stringr)

# export adders
export(create_tidyorthogroups)
export(add_orthogroups_species)
export(add_metaorthogroups)
export(add_genome_data)
export(add_bedfiles)
export(add_gff_files)
export(add_genome_tibble)
export(add_orthogroup_tibble)
export(add_n_genomes_in_orthogroup)

# export getters
export(metaorthogroup_content_matrix)
export(orthogroup_content_matrix_species)
export(species_n_core_orthogroups)
export(genomes_n_um_orthogroups)
export(genomes_n_loo_core_orthogroups)
export(species_av_orthogroups)
export(orthogroups_ordered)
export(genomes_ordered)
export(tidypatterns)

# export processors
export(process_new_orthogroup_names)

# export readers
export(read_phylip_distmat)
export(read_orthogroups)
export(read_hmmer_domtbl)

# export secondaries_genomes
export(add_pcoa)

# export synonyms
export(add_orthogroups_clade)
export(orthogroup_content_matrix_clade)
export(gene_content_clade)
export(get_gene_count_matrix)
export(get_n_core)
export(n_core_loo)

# export varia functions
export(expand_clade)
export(expand_clades)
export(as_matrix)

# export handlers
export(filter_orthogroups)
export(filter_patterns)
export(mutate_genomes)
       
# export plotters
export(plot_genomes_per_species)
export(upset_plot)